<h1>Gestion des Spécialités</h1>
    <div class="page-container">
        <h2>Visualiser une spécialité</h2>
        Sélectionnez une spécialité existante : 
        <select>
            <option>Mathématiques</option>
            <option>SVT</option>
            <option>SI</option>
            <option>Français</option>
        </select>
        <h3>Informations</h3>
        <ul>
            <li>id : 0</li>
            <li>Nom : Mathématiques</li>
            
        </ul>
        <h3>Matières concernées :</h3>
        <ul>
            <li>Mathématiques</li>
            <li>Maths expertes</li>
            <li>Sport</li>
            <li>Français</li>
        </ul>
        <h3>Actions</h3>
        <input class="button" value="Supprimer">
        <input class="button" value="Modifier">
        
    </div>
    <div class="page-container">
        <h2>Ajouter une matière</h2>
        <form>
            
            <input type="text" placeholder="Nom de la matière">
            <h3>Matières concernées :</h3>
            Mathématiques<input type="checkbox"><br>
            Maths expertes<input type="checkbox"><br>
            Sport<input type="checkbox"><br>
            Français<input type="checkbox"><br>
            <input type="submit" value="Ajouter">
        </form>
        
    </div>
