<div class="visual-box">
    <h2>Mes surveillances</h2>
    <table>
        <thead>
            <tr>
                <th>Matière</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Salle</th>
            </tr> 
        </thead>
        <tbody>
            <tr>
                <td>Mathématiques</td>
                <td>18/01/2023</td>
                <td>14h30 à 16h30</td>
                <td>Condorcet</td>
            </tr>
            <tr>
                <td>SVT</td>
                <td>19/01/2023</td>
                <td>15h30 à 17h00</td>
                <td>Cauchy</td>
            </tr>
        </tbody>
    </table>
</div>
