
<nav class="left-navbar">
    <img id="gestion-img" src="../../assets/images/icons/modifier_icon.png"><b>Gestion</b>
    <ul>
        <li>
            <a routerLink="/responsable-view/gestion-view/subject-view" 
                routerLinkActive="activebutton"
                ariaCurrentWhenActive="page">
                Matières
            </a>
        </li>
        <li>
            <a routerLink="/responsable-view/gestion-view/class-view" 
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page">
            Spécialités
            </a>  
        </li>
        <li><a routerLink="/responsable-view/gestion-view/rooms-view" 
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page">
            Salles
            </a>   
        </li>
        <li>
            <a routerLink="/responsable-view/gestion-view/students-view" 
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page">
            Eleves
            </a>
        </li>
        <li>
            <a routerLink="/responsable-view/gestion-view/professors-view" 
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page">
            Personnel
            </a>
        </li>
    </ul>
    
</nav>

<div class="container">
    <router-outlet ></router-outlet>
</div>