.left-navbar{
    float: left;
    display: block;
    margin-left: 6%;
    margin-top: 10%;
}

a{
    color:black;
}



.activebutton{
    transition:0.3s;
    
    background-color: rgba(25, 153, 132, 0.356);
}

.container{
    margin: auto;
    text-align: center;
    margin-top: 2%;
}

#gestion-img{
    width: 16px;
    height: 16px;
    vertical-align: top;
    margin-right: 2px;
}

li{
    padding: 15px;
}

.container{
    display:grid;
}


/* CODE POUR LE MENU DEROULANT GAUCHE*/
.left-navbar li ul{
    display: none;
    height:0;
    margin: 0;
    padding: 0;
}

.left-navbar li:hover ul{
    display:inline-flex;
    transform: translateY(-20px);
    position:fixed;
}



