<h2>Visualiser une salle</h2>
<div *ngIf="pageMode==0 && data.length>0">
    Sélectionnez une salle existante : 
    <select [(ngModel)] = "selectedId">
        <option *ngFor="let r of data" [ngValue]="r.id">{{r.name}}</option>
    </select>
    <h3>Informations</h3>
    <ul>
        <li>id : {{getDataById(selectedId!)!.id}}</li>
        <li>Nom : {{getDataById(selectedId!)!.name}}</li>
        <li>Capacité : {{getDataById(selectedId!)!.capacity}}</li>
        
    </ul>
    <h3>Actions</h3>
    <button class="suppr-button" (click)="onDelete();">Supprimer</button>
    <button (click)="goToModifyForm();">Modifier</button>
</div>
<div *ngIf="pageMode==1">
    <form [formGroup]="modifyForm" id="modifyForm">
        Vous modifiez la salle suivante : {{getDataById(selectedId!)!.name}}
        <h3>Informations</h3>
        Nom : <input required="true" matInput formControlName="name" placeholder="Nom" value={{getDataById(selectedId!)!.name}}><br>
        Capacité : <input required="true" matInput formControlName="capacity" placeholder="Capacité" value={{getDataById(selectedId!)!.capacity}}><br>
        <button class="suppr-button" (click)="goToVisualize();">Retour</button>
        <input class="submit-button" type="submit" value="Sauvegarder" (click)="onSubmit()">
    </form>
</div>
