<h2>Visualiser un étudiant</h2>
<div *ngIf="pageMode==0  && data.length>0">
    Sélectionnez un étudiant existant : 
    <select [(ngModel)] = "selectedId">
        <option *ngFor="let s of data" [ngValue]="s.id">{{s.last_name}} {{s.first_name}}</option>
    </select>
    <h3>Informations</h3>
    <ul>
        <li>id : {{getDataById(selectedId!)!.id}}</li>
        <li>Nom : {{getDataById(selectedId!)!.last_name}}</li>
        <li>Prénom : {{getDataById(selectedId!)!.first_name}}</li>
        <li>Email : {{getDataById(selectedId!)!.email}}</li>
        
    </ul>
    <h3>Actions</h3>
    <button class="suppr-button" (click)="onDelete();">Supprimer</button>
    <button (click)="goToModifyForm();">Modifier</button>
</div>
<div *ngIf="pageMode==1">
    <form [formGroup]="modifyForm" id="modifyForm">
        Vous modifiez l'élève suivant : {{getDataById(selectedId!)!.last_name}} {{getDataById(selectedId!)!.first_name}}
        <h3>Informations</h3>
        Email : <input required="true" matInput formControlName="email"  placeholder="Email" value={{getDataById(selectedId!)!.email}}><br>
        Nom : <input required="true" matInput formControlName="last_name" placeholder="Nom" value={{getDataById(selectedId!)!.last_name}}><br>
        Prénom : <input required="true" matInput formControlName="first_name" placeholder="Prénom" value={{getDataById(selectedId!)!.last_name}}><br>
        Mot de passe : <input required="true" matInput formControlName="password" placeholder="Mot de passe" value="password" type="password"><br>
        <button class="suppr-button" (click)="goToVisualize();">Retour</button>
        <input class="submit-button" type="submit" value="Sauvegarder" (click)="onSubmit()">
    </form>
</div>