<h1>Gestion des matières</h1>
    <div class="page-container">
        <h2>Visualiser une matière</h2>
        Sélectionnez une matière existante : 
        <select>
            <option>m1</option>
            <option>m2</option>
            <option>m3</option>
            <option>m4</option>
            <option>m5</option>
        </select>
        <h3>Informations</h3>
        <ul>
            <li>id : 0</li>
            <li>Nom : Mathématiques</li>
            
        </ul>
        <h3>Spécialités concernées :</h3>
        <ul>
            <li>Mathématiques</li>
            <li>SVT</li>
            <li>SI</li>
        </ul>
        <h3>Actions</h3>
        <input class="button" value="Supprimer">
        <input class="button" value="Modifier">
        
    </div>
    <div class="page-container">
        <h2>Ajouter une matière</h2>
        <form>
            <input type="text" placeholder="Nom de la matière">
            <input type="submit" value="Ajouter">
        </form>
        
    </div>
