

<h1>Gestion des matières</h1>
<div class="container, left">
    <ul>
        <li>
            <a routerLink="visualize-subject" 
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="step">
            Visualiser
            </a>
            
        </li>
        <li>
            <a routerLink="add-subject" 
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="step">
            Ajouter
            </a>
        </li>
    </ul>
    
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>

