div{
    background-color: rgb(0, 114, 114);
    padding: 5px;
}

#disconnect-img{
    filter: invert(100%);
    width : 17px;
    height: 17px;
    vertical-align: text-top;
    
}

a{
    float: right;
}

.navbar-container{
    display:inline-flex;
    width: 100%;
    vertical-align: center;
}

a{
    color: White;
    margin: auto;
    padding: 10px 10px;
    transition:0.3s;
    border-radius: 5px;
    margin-left: 10px;
    
}



.activebutton{
    transition:0.3s;
    
    background-color: rgba(0, 0, 0, 0.144);
}

#disconnect-link{
    margin-left: auto;
    margin-right: 1%;
}

#appTitle{
    color: white;
    margin: auto;
    margin-left: 1%;
    margin-right: 10%;
}

#titleImage{
    filter: invert(100%);
    vertical-align: top;
    width: 15px;
    height: 15px;
    margin-left: 2px;
}