<h1>Gestion des salles</h1>
<div class="visual-box">
    <h2>Visualiser une salle</h2>
    Sélectionnez une salle existante : 
    <select>
        <option>Cauchy</option>
        <option>Condorcet</option>
        <option>Broglie</option>
    </select>
    <h3>Informations</h3>
    <ul>
        <li>id : 0</li>
        <li>Nom : Cauchy</li>
        <li>Capacité : 85 élèves</li>
        <li>Statut : indisponible</li>
        
    </ul>
    <h3>Actions</h3>
    <button class="suppr-button">Supprimer</button>
    <button>Modifier</button>
    
</div><br>
<div class="visual-box">
    <h2>Ajouter une salle</h2>
    <form>
        
        <input type="text" placeholder="Nom de la salle">
        <input type="text" placeholder="Capacité"><br>
        Indisponible ? <input type="checkbox">
        
        <input type="submit" value="Ajouter">
    </form>
    
</div>
