
<div class="visual-box">
    <form name="loginForm" id="loginForm">
        <h2>Connexion</h2>
        <input type="field" name="username" required="true" placeholder="Nom d'utilisateur">
        <br>
        <input type="password" name="password" required="true" placeholder="Mot de passe">
        <br>
        <input type="submit" class="submit-button">
    </form>
</div>

<div id="appTitle">
    <h1>
        <pre>
Exam
Scheduler<i class="appColor" style="font-size: 130%;">■</i>
        </pre>
    </h1>
</div>



