<head>
   
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	
</head>
<body>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	
	<div class="container" *ngIf="userData.length>0">
		<div class="row row-striped" *ngFor="let s of userData">
			<div class="col-2 text-right">
				<h1 class="display-4"><span class="badge badge-secondary">{{timeToDate(s.date.start_date).getUTCDay()}}</span></h1>
				<h2>{{getMonthText(s.date.start_date)}}</h2>
			</div>
			<div class="col-10">
				<h3 class="text-uppercase"><strong>{{s.subject.name}}</strong></h3>
				<ul class="list-inline">
				    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{getDayOfWeek(s.date.start_date)}}</li>
					<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>{{timeToDate(s.date.start_date).getHours()}}:{{timeToDate(s.date.start_date).getMinutes()}} </li>
					<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> {{s.room.name}}</li>
					<li class="list-inline-item"><i class="fa" aria-hidden="true"></i>👤{{s.teacher.last_name}} {{s.teacher.first_name}}</li>
				</ul>
			</div>
		</div>
	</div>
</body>
