<h2>Ajouter un étudiant</h2>
<form [formGroup]="addForm" id="addForm">
    
    Email : <input required="true" matInput formControlName="email" type="text" placeholder="Email"><br>
    Nom : <input required="true" matInput formControlName="last_name" type="text" placeholder="Nom"><br>
    Prénom : <input required="true" matInput formControlName="first_name" type="text" placeholder="Prénom"><br>
    Mot de passe : <input required="true" matInput formControlName="password" type="text" placeholder="Mot de passe" type="password"><br>
    
    <input class="submit-button" type="submit" value="Ajouter" (click)="onSubmit()">
</form>
