<h1>Gestion des étudiants</h1>
    <div class="page-container">
        <h2>Visualiser un étudiant</h2>
        Sélectionnez un étudiant existant : 
        <select>
            <option>Maurice Fauron</option>
            <option>Adèle Mongenet</option>
            <option>Lorenzo Gomez</option>
        </select>
        <h3>Informations</h3>
        <ul>
            <li>id : 0</li>
            <li>Nom : Fauron</li>
            <li>Prénom : Maurice</li>
            
        </ul>
        <h3>Actions</h3>
        <input class="button" value="Supprimer">
        <input class="button" value="Modifier">
        
    </div>
    <div class="page-container">
        <h2>Ajouter un étudiant</h2>
        <form>
            
            <input type="text" placeholder="Nom">
            <input type="text" placeholder="Prénom"><br>
            
            <input type="submit" value="Ajouter">
        </form>
        
    </div>
